{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% set formRouteName = 'frontend.fast_order.store' %}

{% block base_content %}

    {% block fast_order_tabs %}
        <div class="card card-tabs">
            {% block fast_order_tabs_navigation %}
                <div class="card-header">
                    {% block fast_order_tabs_navigation_container %}
                        <ul class="nav nav-tabs"
                            id="fast-order-tabs"
                            role="tablist">
                            {% block fast_order_tabs_navigation_manual_form %}
                                <li class="nav-item">
                                    <a class="nav-link active"
                                       id="manual-form-tab"
                                       data-toggle="tab"
                                       data-offcanvas-tabs="true"
                                       href="#manual-form-tab-pane"
                                       role="tab"
                                       aria-controls="manual-form-tab-pane"
                                       aria-selected="true">
                                        <span>
                                            {{ "fast-order-plugin.manualFormTabLabel" |trans|sw_sanitize }}
                                        </span>
                                    </a>
                                </li>
                            {% endblock %}
                            {% block fast_order_tabs_navigation_csv_upload %}
                                <li class="nav-item">
                                    <a class="nav-link"
                                       id="csv-upload-tab"
                                       data-toggle="tab"
                                       data-offcanvas-tabs="true"
                                       href="#csv-upload-tab-pane"
                                       role="tab"
                                       aria-controls="csv-upload-tab-pane"
                                       aria-selected="false">
                                        <span>{{ "fast-order-plugin.csvUploadTabLabel"|trans|sw_sanitize }}</span>
                                    </a>
                                </li>
                            {% endblock %}
                        </ul>
                    {% endblock %}
                </div>
            {% endblock %}

            {% block fast_order_tabs_content %}
                <div class="card-body">
                    {% block fast_order_tabs_content_container %}
                        <div class="tab-content">
                            {% block fast_order_tabs_content_manual_form %}
                                <div class="tab-pane fade show active"
                                     id="manual-form-tab-pane"
                                     role="tabpanel"
                                     aria-labelledby="description-tab">

                                    {% sw_include '@Storefront/storefront/page/fast-order/fast-order-manual-form.html.twig' %}

                                </div>
                            {% endblock %}

                            {% block fast_order_tabs_content_csv_upload %}
                                <div class="tab-pane fade show"
                                     id="csv-upload-tab-pane"
                                     role="tabpanel"
                                     aria-labelledby="csv-upload-tab">

                                    {% sw_include '@Storefront/storefront/page/fast-order/fast-order-csv-upload.html.twig' %}
                                </div>
                            {% endblock %}
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}

{% endblock %}
