{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% set formRouteName = 'frontend.fast_order.store' %}

{% block base_content %}

	{% block fast_order_form %}
		<form action="{{ path(formRouteName) }}" method="post" data-form-csrf-handler="true">

			{% block fast_order_form_csrf %}
				{{ sw_csrf(formRouteName) }}
			{% endblock %}

			{% block fast_order_form_content %}
				<div class="container">

					<div class="row">

						{% block fast_order_form_content_sidebar %}

							<div class="col-12 col-md-4">
								<h1>Fast Order</h1>
								<p class="mb-5 mb-md-0">
									Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus error perferendis odit voluptas! Atque optio similique aperiam officiis corporis quos mollitia doloribus, ad placeat necessitatibus cupiditate accusamus consectetur labore ipsam!
								</p>

								<button type="submit" class="btn btn-primary position-absolute" style="bottom: 0; left: 20px; right: 20px;">
									Add to cart
								</button>
							</div>

						{% endblock %}

						{% block fast_order_form_content_content %}

							<div class="col-12 col-md-8 mt-3">


								{% sw_include '@FastOrderPlugin/element/fast-order-form/fast-order-form-header.html.twig' %}

								<div class="fast-order-form-input-list">
									{% for i in 0..10 %}
										{% sw_include '@FastOrderPlugin/element/fast-order-form/fast-order-form-row.html.twig' with { rowCount: i} %}
									{% endfor %}
								</div>

							</div>

						{% endblock %}

					</div>

				</div>
			{% endblock %}

		</form>
	{% endblock %}

{% endblock %}


{# TODO: Add translation #}
