{% block fast_order_form_row %}

	{% set articleFieldId = 'fast-order-article-' ~ rowCount %}
	{% set qttyFieldId = 'fast-order-qtty-' ~ rowCount %}

	<div class="order-list-row-container row mt-2">
		<div class="col-8">
			{% sw_include '@FastOrderPlugin/element/undecorated-form-input.html.twig'
				with {
                    fieldName: articleFieldId,
					fieldId: articleFieldId,
                    required: false,
                    placeholder: 'fast-order-plugin.orderTable.productNumberHeader',
					additionalClass: "mb-0"
                }
			%}
		</div>
		<div class="col-4">
			{% sw_include '@FastOrderPlugin/element/undecorated-form-input.html.twig'
				with {
					type: 'number',
					fieldId: qttyFieldId,
                    fieldName: qttyFieldId,
                    required: false,
                    placeholder: 'fast-order-plugin.orderTable.quantityHeader',
					additionalClass: "mb-0"
                }
			%}
		</div>
	</div>
{% endblock %}
