{% block fast_order_form_header %}
	<div class="order-row-container row mb-2">
		<div class="col-8">
			<h5 class="border-bottom pb-2">Product Number</h5>
		</div>
		<div class="col-4">
			<h5 class="border-bottom pb-2">Quantity</h5>
		</div>
	</div>
{% endblock %}

{# TODO: Add translation #}
